.brn-element--margin-right {
  padding-right: 30px;
}

.brn-element--margin-left {
  padding-left: 50px;
}

.brn-content-box__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 4em 2em;
}
.brn-content-box__content--padding-small {
  padding: 3em 2em;
}
.brn-content-box__content--padding-top-bottom-medium {
  padding: 3em 0;
}


.brn-box--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.brn-box--flex-spread {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

/* .brn-box--flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
} */

.brn-box--width-medium {
  width: 500px;
}

.brn-box--width-small {
  width: 250px;
  height: 250px;
}

.brn-box--width-large {
  width: 650px;
}

.brn-content-box--light {
  background-color: #f0f3f5;
}

.brn-round-image {
  display: block;
  border-radius: 50%;
  height: 100%;
  width: 100%
}
.brn-square-image {
  display: block;
  height: 100%;
  width: 100%
}

.brn-round-image--icon {
  background-color: #e1e8ed;
}
.brn-square-image--icon {
  background-color: #e1e8ed;
}

.brn-round-image--small {
  width: 80px;
  height: 80px
}
.brn-square-image--small {
  width: 80px;
  height: 80px
}

.brn-round-image--normal {
  width: 140px;
  height: 140px
}
.brn-square-image--normal {
  width: 140px;
  height: 140px
}

.brn-round-image--large {
  width: 190px;
  height: 190px
}
.brn-square-image--large {
  width: 190px;
  height: 190px
}

.brn-round-image--xlarge {
  width: 240px;
  height: 240px
}

.brn-round-image--xxlarge {
  width: 290px;
  height: 290px
}

.brn-text-bit--xxsmall {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.brn-text--padding-bottom-small {
  padding-bottom: 1em;
}
.brn-text--padding-bottom-medium {
  padding-bottom: 2em;
}
.brn-text--padding-top-bottom-medium {
  padding: 1em 0 2.5em 0;
}
.brn-un-list-padding-left--large {
  margin: 0;
  padding-left: 65px;
}
.brn-un-list-padding-left--small {
  margin: 0;
  padding-left: 20px;
}
.brn-box--width-medium-large {
  width: 550px;
}
.brn-element--float-right {
  float: right;
}

.brn-list__element--spaced {
  margin-bottom: 1.1rem;
}

.brn-box--sharp-corners {
  border-radius: 0;
}

.brn-element--weight-light {
  font-weight: 500;
}

.brn-box--grid {
  display: grid;
}

.brn-switch-tab--small {
  width: 350px;
}

.brn-switch-tab--normal {
  width: 500px;
}

.brn-switch-tab--large {
  width: 600px;
}

.brn-switch-tab--with-border {
  border: 1px solid #9fa6b5;
  ;
}

.brn-switch-tab-container {
  background-color: #f0f3f5;
  border-radius: 15px;
  display: flex;
  align-content: stretch;
  margin-left: 250px;
}

.brn-switch-tab__tab {
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
  border-right: 1px solid#9fa6b5;
}

.brn-switch-tab__tab:first-child {
  border-radius: 15px 0 0 15px;
}

.brn-switch-tab__tab:last-child {
  border-right: none;
  border-radius: 0 15px 15px 0;
}

.brn-switch-tab__tab--active {
  background-color: #9fa6b5;
  color: #f0f3f5;
}

.brn-tabs-container__header {
  margin-left: 250px;
  text-align: center;
}
.brn-button--padding {
  padding: 0 35px;
}
.brn-image-with-tag {
  position: relative;
  padding-left: 20px;
}
.brn-image-tag {
  padding: 10px;
  text-align: center;
  background-color: #9fa6b5;
  color: #FFF;   
  font-size: .875rem;
  line-height: 1.125rem;
  max-width: 135px;
  
}
.brn-image-tag--position-right {
  position: absolute;
  right: 20px;
  top: 145px;
}
